{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg" alt="back">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header__avatar.png" alt="back">
        </button>
    </header>

    <h1 class="title">Коммьюніті</h1>

    <main class="contant__list">
        <div class="button-container">
            <button class="active">База знань</button>
            <button>Інформація</button>
        </div>
        <div class="picture">
            <img width="346px" height="160px" src="/img/telegram.png" alt="pictures">
        </div>
        <h2 class="title">Що таке база знань?</h2>
        <p class="text">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях
            в некоторой
            предметной
            области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом решения
            предыдущих
            задач.</p>
        <button class="button__orange">Перейти до ком'юніті у Телеграм</button>
    </main> --}}
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}